.app_Nav {
  background: #24292f;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 20px;
}

input {
  border: 1px solid rgba(255, 255, 255, 0.7);
  background: none;
  border-radius: 5px;
  padding: 7px 0 7px 5px;
  outline: none;
  color: white;
  width: 150px;
  transition: all 0.4s ease;
}

input:focus {
  width: 300px;
  background: #fff;
  color: #24292f;
}

.userbox_container {
  margin-top: 30px;
  text-align: center;
}
/*
.userbox_users {
}*/

.userinfo_container {
  margin-top: 30px;
  padding: 20px;
  text-align: center;
}

.userinfo_progress {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.userinfo_progress span {
  font-weight: bold;
}

.user_details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userepo_container {
  flex: 1;
}
.userepo_container h1 {
  text-align: center;
}

.userepo_repos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.userepo_repo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #24292f;
  padding: 0 0 0 10px;
  border-radius: 10px;
  width: 350px;
  margin: 10px;
}
/*
.userepo_desc {
  
}*/

.userepo_desc p {
  font-size: 12px;
}
